body, html
  background-color: #9B4545
  color: #333
  font-family: helvetica, sans-serif
  font-size: 13px
  line-height: 18px
  height: 100%
  margin: 0 0 2px

p, ol, ul, td
  font-family: verdana, arial, helvetica, sans-serif
  font-size: 13px
  line-height: 18px

input, textarea
  font-size: 20px

pre
  background-color: #eee
  padding: 10px
  font-size: 11px

a
  color: #000
  &:visited
    color: #666

div
  &.field, &.actions
    margin-bottom: 10px

.container_12
  margin-bottom: 100px

.headline
  font-size: 20px
  a
    text-decoration: none
    color: #9B4545
  a:hover
    color: black

#notice
  color: green

.field_with_errors
  padding: 2px
  background-color: #9B4545
  display: table
  color: white

#error_explanation
  width: 450px
  border: 2px solid red
  padding: 7px
  padding-bottom: 0
  margin-bottom: 20px
  background-color: #f0f0f0
  h2
    text-align: left
    font-weight: bold
    padding: 5px 5px 5px 15px
    font-size: 12px
    margin: -7px
    margin-bottom: 0px
    background-color: #c00
    color: #fff
  ul li
    font-size: 12px
    list-style: square
.header
  background: #000
  height: 20px
  width: 100%
.main_bg
  background: url('/images/new-shwag-bg-4.jpg') no-repeat scroll center top transparent
.main_content
  margin: 10px 0 0 3px
  background: white
  min-height: 1000px
.subtopic-holder
  background: url('/images/subtopic-holder.png') no-repeat
  width: 295px
  height: 70px
  padding: 20px 0 0 28px
  color: white
.trending-topic
  background: url('/images/trending-topics.png') no-repeat
  width: 225px
  height: 64px
  display: block
.bottom_leaf
  background: url('/images/bottom-leaf.png') no-repeat
  width: 621px
  height: 42px
  bottom: 2px
  position: relative
  clear: both
  margin-left: 2px
#user_nav
  color: white
  display: block
  float: right
  font-size: 12px
  height: 20px
  margin: 11px 50px 0 0
  text-align: center
  width: 271px
  a
    color: #fff
    -moz-border-radius: 2px
    -webkit-border-radius: 2px
    border-radius: 2px
    background: #3f2e2e
    text-decoration: none
    padding: 3px 6px
    margin-right: 4px
  a:hover
    background: #6b2b2c

.sideNav
  min-height: 600px
.sideNav li
  list-style-type: none
.sideNav li a
  text-decoration: none
  font-weight: bold
  font-size: 14px
  margin-left: 10px
.cats li
  clear: both
  padding-bottom: 23px
  margin-top: 5px
  width: 140px
  .link
    float: left
    width: 100px
    float: left
    display: block
  .new_posts
    text-align: center
    display: block
    float: left
    width: 20px
    border: 1px solid blue
    .number
      color: white
      padding: 0 4px 3px
      width: 20px
      background: #6b2b2c
      -moz-border-radius: 5px
      -webkit-border-radius: 5px
      border-radius: 5px
      font-weight: bold
      display: block
.cats li:hover
  background: #6b2b2c
  -moz-border-radius: 5px
  display: block
  a
    color: white
  .new_posts .number
    background: #000
    
.advert
  font-weight: bold
  display: block
  height: 180px
  width: 245px
  margin-left: 15px
  ul
    line-height: 30px
    margin-bottom: 10px
  span
    color: #9B4545
  .arrow_block
    text-align: right
    height: 40px
    width: 100px
    display: block    
.red_box_of_love
  border: 15px solid #9B4545
  display: block
  height: 265px
  margin-left: 15px
  margin-top: 25px
  width: 245px

.submit a
  color: white
  display: block
  font-size: 18px
  font-weight: bold
  height: 37px
  margin-left: 10px
  margin-top: 40px
  padding-top: 10px
  text-align: center
  text-decoration: none
  width: 136px
.submit a:hover
  background: #3f2e2e
    
.post
  width: 100%
  margin: 5px 0
  padding: 10px 0 5px 10px
  .post_title a
    color: #9B4545
    font-weight: bold
    text-decoration: none
    float: left
    margin-right: 4px
  .post_title a:hover
    color: black
.post_nav
  background: url("/images/post-nav.jpg") no-repeat
  height: 43px
  width: 391px
  color: white
  font-size: 25px
  font-weight: bold
  padding-left: 20px
  .i
    float: left
    a
      color: white
      font-size: 25px
      font-weight: bold
      text-decoration: none
      padding: 0 5px
.i .selected-post-nav
  background-color: #fff
  height: 43px
  a
    color: #666
.field_container
  border: 5px solid #9B4545
  padding: 0 0 0 20px
  margin-left: 20px
  textarea
    width: 402px
  input:focus, textarea:focus
    border: 5px solid #9B4545
.login 
  label
    font-size: 20px
  input
    font-size: 20px
.logblock
  display: block
  width: 170px
  margin: 0 5px
  height: 60px 
  float: left
.footer
  position: fixed
  bottom: 0
  background-color: #9B4545
  color: white
  font-weight:  bold
  margin-top: 20px
  width: 100%
  border-bottom: 15px solid black
.footer_body
  height: 40px
  width: 960px
  margin: 0 auto
  display: block
  .text
    padding-top: 10px
.button
  background : none repeat scroll 0 0 #9B4545
  border : medium none
  color : white !important
  display : block
  font-size : 20px
  height : 37px
  text-align : center
  text-decoration : none
  width: 171px
  
.comment_form
  display: none


.pagination
  float: right
  font-size: 16px
  a, span, em
    background: none repeat scroll 0 0 #9B4545
    color: white
    display: block
    float: left
    height: 25px
    margin: 0 2px
    min-width: 15px
    padding: 0 5px
    text-align: center
    text-decoration: none
  em
    color: black
    
.play_movie
  height: 31px
  width: 31px
  margin-top: 4px
  background: url('/images/play-button.jpg') no-repeat
  display: block
  
.category
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  background: none repeat scroll 0 0 #9B4545
  color: #fff
  padding: 1px 4px
  text-decoration: none
.category:visited
  color: #fff
.category:hover
  background: #000
.category-choice label
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  background: none #9B4545
  color: #fff
  padding: 5px 8px
  margin: 0 8px 10px 0
  float: left
  cursor: pointer
  label
    cursor: pointer
.category-choice label:hover
  background: #000
  