body, html
  background-color: #fff
  color: #333
  font-family: helvetica, sans-serif
  font-size: 13px
  line-height: 18px
  height: 100%
  margin: 0 0 2px

p, ol, ul, td
  font-family: verdana, arial, helvetica, sans-serif
  font-size: 13px
  line-height: 18px

input, textarea
  font-size: 20px

pre
  background-color: #eee
  padding: 10px
  font-size: 11px

a
  color: #000
  &:visited
    color: #666

div
  &.field, &.actions
    margin-bottom: 10px

.container_12
  margin-bottom: 100px

.headline
  font-size: 20px

#notice
  color: green

.field_with_errors
  padding: 2px
  background-color: red
  display: table

#error_explanation
  width: 450px
  border: 2px solid red
  padding: 7px
  padding-bottom: 0
  margin-bottom: 20px
  background-color: #f0f0f0
  h2
    text-align: left
    font-weight: bold
    padding: 5px 5px 5px 15px
    font-size: 12px
    margin: -7px
    margin-bottom: 0px
    background-color: #c00
    color: #fff
  ul li
    font-size: 12px
    list-style: square

.header
  background: #000
  height: 20px
  width: 100%
.sh_header
  background: url('/images/shwagr-header.png') no-repeat
  height: 139px

#user_nav
  color: white
  display: block
  float: right
  font-size: 12px
  height: 20px
  margin: 11px 0 0 0
  text-align: center
  width: 280px
  
  a
    color: #fff

.sideNav
  background: url('/images/sidebar-line.jpg') left repeat-y
  min-height: 600px
.sideNav li
  list-style-type: none
.sideNav li a
  text-decoration: none
  font-weight: bold
  font-size: 14px
  margin-left: 10px
.advert
  font-weight: bold
  display: block
  height: 180px
  width: 245px
  margin-left: 40px
  ul
    line-height: 30px
    margin-bottom: 10px
  span
    color: #9B4545
  .arrow_block
    text-align: right
    height: 40px
    width: 100px
    display: block    
.red_box_of_love
  border: 15px solid #9B4545
  display: block
  height: 265px
  margin-left: 40px
  margin-top: 25px
  width: 245px

.submit a
  color: white
  display: block
  font-size: 18px
  font-weight: bold
  height: 35px
  margin-left: 24px
  margin-top: 46px
  padding-top: 10px
  text-align: center
  text-decoration: none
  width: 141px
    
.post
  width: 100%
  margin: 5px 0
  padding: 10px 0 5px 10px
  .post_title a
    color: #9B4545
    font-weight: bold
    text-decoration: none
    float: left
    margin-right: 4px
  .post_title a:hover
    color: black
.post_nav
  background: url("/images/post-nav.jpg") no-repeat
  height: 43px
  width: 391px
  color: white
  font-size: 25px
  font-weight: bold
  padding-left: 20px
  .i
    float: left
    a
      color: white
      font-size: 25px
      font-weight: bold
      text-decoration: none
      padding: 0 5px
.i .selected-post-nav
  background-color: #fff
  height: 43px
  a
    color: #666
.field_container
  border: 5px solid #9B4545
  padding: 20px
  textarea
    width: 402px
  input:focus, textarea:focus
    border: 5px solid #9B4545
.login 
  label
    font-size: 20px
  input
    font-size: 20px
.logblock
  display: block
  width: 170px
  margin: 0 5px
  height: 60px 
  float: left
.footer
  position: fixed
  bottom: 0
  background-color: #9B4545
  color: white
  font-weight:  bold
  margin-top: 20px
  width: 100%
  border-bottom: 15px solid black
.footer_body
  background: url('/images/red-rod.jpg') repeat-y
  height: 40px
  width: 960px
  margin: 0 auto
  display: block
  .text
    padding-top: 10px
.button
  background : none repeat scroll 0 0 #9B4545
  border : medium none
  color : white !important
  display : block
  font-size : 20px
  height : 37px
  text-align : center
  text-decoration : none
  width: 171px
  
.comment_form
  display: none
  
.pagination
  float: right
  font-size: 16px
  a, span, em
    background: none repeat scroll 0 0 #9B4545
    color: white
    display: block
    float: left
    height: 25px
    margin: 0 2px
    min-width: 15px
    padding: 0 5px
    text-align: center
    text-decoration: none
  em
    color: black