body, html {
  background-color: white;
  color: #333333;
  font-family: helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  height: 100%;
  margin: 0 0 2px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

input, textarea {
  font-size: 20px; }

pre {
  background-color: #eeeeee;
  padding: 10px;
  font-size: 11px; }

a {
  color: black; }
  a:visited {
    color: #666666; }

div.field, div.actions {
  margin-bottom: 10px; }

.container_12 {
  margin-bottom: 100px; }

.headline {
  font-size: 20px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #cc0000;
    color: white; }
  #error_explanation ul li {
    font-size: 12px;
    list-style: square; }

.header {
  background: black;
  height: 20px;
  width: 100%; }

.sh_header {
  background: url("/images/shwagr-header.png") no-repeat;
  height: 139px; }

#user_nav {
  color: white;
  display: block;
  float: right;
  font-size: 12px;
  height: 20px;
  margin: 11px 0 0 0;
  text-align: center;
  width: 280px; }
  #user_nav a {
    color: white; }

.sideNav {
  background: url("/images/sidebar-line.jpg") left repeat-y;
  min-height: 600px; }

.sideNav li {
  list-style-type: none; }

.sideNav li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  margin-left: 10px; }

.red_box_of_love {
  border: 15px solid #9b4545;
  display: block;
  height: 240px;
  margin-left: 40px;
  margin-top: 25px;
  width: 210px; }

.submit a {
  color: white;
  display: block;
  font-size: 18px;
  font-weight: bold;
  height: 35px;
  margin-left: 24px;
  margin-top: 46px;
  padding-top: 10px;
  text-align: center;
  text-decoration: none;
  width: 141px; }

.post {
  width: 100%;
  margin: 5px 0;
  padding: 10px 0 5px 10px; }
  .post .post_title a {
    color: #9b4545;
    font-weight: bold;
    text-decoration: none;
    float: left;
    margin-right: 4px; }
  .post .post_title a:hover {
    color: black; }

.post_nav {
  background: url("/images/post-nav.jpg") no-repeat;
  height: 43px;
  width: 391px;
  color: white;
  font-size: 25px;
  font-weight: bold;
  padding-left: 20px; }
  .post_nav .i {
    float: left; }
    .post_nav .i a {
      color: white;
      font-size: 25px;
      font-weight: bold;
      text-decoration: none;
      padding: 0 5px; }

.i .selected-post-nav {
  background-color: white;
  height: 43px; }
  .i .selected-post-nav a {
    color: #666666; }

.field_container {
  border: 5px solid #9b4545;
  padding: 20px; }
  .field_container textarea {
    width: 402px; }
  .field_container input:focus, .field_container textarea:focus {
    border: 5px solid #9b4545; }

.login label {
  font-size: 20px; }
.login input {
  font-size: 20px; }

.footer {
  position: fixed;
  bottom: 0;
  background-color: #9b4545;
  color: white;
  font-weight: bold;
  margin-top: 20px;
  width: 100%;
  border-bottom: 15px solid black; }

.footer_body {
  background: url("/images/red-rod.jpg") repeat-y;
  height: 40px;
  width: 960px;
  margin: 0 auto;
  display: block; }
  .footer_body .text {
    padding-top: 10px; }

.button {
  background: #9b4545;
  width: 171px;
  height: 37px;
  color: white;
  border: none; }

.comment_form {
  display: none; }

.pagination {
  float: right;
  font-size: 16px; }
  .pagination a {
    text-decoration: none; }
  .pagination em {
    color: #9b4545; }
