-if @post.errors.any?
  #errorExplanation
    %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
    %ul
      - @post.errors.full_messages.each do |msg|
        %li= msg