%p
  - if @post.is_link
    .headline
      = link_to @post.name, @post.url
  - else
    .headline
      = @post.name
    %p
      =h raw RedCloth.new(@post.text).to_html
  
.clear
.grid_7
- form_for [@commentable, Comment.new] do |f|
  =h f.label :text, 'Comment'
  %br/
  =h f.text_area :text, :style => "height: 100px;"
  %br/
  = f.submit "Submit", :class => 'button'
.clear
%br/
%p
  Things people say :
.clear
.grid_7
  = render :partial => 'comment', :collection => @comments


=# TODO : Make these options applicable only for the current_user == post.users
=# link_to 'Edit', edit_post_path(@post)
=# link_to 'Delete', post_path(@post), :method => :delete

